Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  ClangTidy:
    FastCheckFilter: Loose

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
  BlockEnd: Yes
  DefaultArguments: Yes

Hover:
  ShowAKA: Yes

Completion:
  AllScopes: Yes

Index:
  Background: Build
  StandardLibrary: Yes
